body {
    background: url('/assets/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#santa-img {
width: 380px;
height: 380px;
position: fixed;
right: 75px;
bottom: 35px;
transition: transform 0.5s ease;
}
#santa-img:hover {
    transform: translateY(-20px); 
}

#pokeball {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 280px;
    bottom: 30px;
    transition: transform 0.5s ease;
}
#pokeball:hover {
    transform: translateY(-20px); 
}
#pokemon-img {
    width: 350px;
    height: auto; 
    position: absolute;
    left: 390px; 
    bottom: 130px; 
    display: none;
    transition: transform 0.5s ease;
}
#pokemon-img:hover {
    transform: translateY(-20px); 
}
.game-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    background-color: #F7E6B2;
    width: 350px;
    padding: 15px;
   margin: 10px;
    border-radius: 10px;
    line-height: 25px;
}