body {
    background: url('/assets/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#santa-img {
width: 350px;
height: 350px;
position: fixed;
right: 75px;
bottom: 25px;
transform: transform 0,5s ease;
}

#pokeball {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 280px;
    bottom: 30px;
    transform: transform 0,5s ease;
}
#pokeball:hover {
    transform: translateY(-10px); 
}
#pokemon-img {
    width: 400px;
    height: auto; 
    position: absolute;
    left: 400px; 
    bottom: 20px; 
    display: none;
 
}